{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="image-overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4 text-white">New Collections Are Here</h1>
                <a href="{% url 'products' %}" class="btn btn-lg mr-2 rounded-0 text-uppercase py-3 btn-outline-dark">Shop Now</a>
                <a href="{% url 'contact' %}" class="btn  btn-lg mr-2 rounded-0 text-uppercase py-3 btn-outline-dark">Contact Us</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}