{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Lari Living | Create Testimonial{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col text-center mt-3">
        <h2>Delete Testimonial</h2>
        <hr class="w-50 mb-1">
    </div>
  </div>
  <p class="text-center mt-3">Are you sure you want to delete your Testimonial?</p>
  <div class="row justify-content-center mb-3">
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn mr-2 mt-2 rounded-0 text-uppercase btn-outline-dark">Delete</button>
        <a href="{%  url 'testimonial_list' %}" class="btn mr-2 mt-2 rounded-0 text-uppercase btn-outline-dark">Cancel</a>
      </form>
  </div>
</div>
{% endblock %}