<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-grey mr-5" href="{% url 'home' %}" id="home-link" aria-label="home">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-grey mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="products">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item" aria-label="all">All</a>
                <a href="{% url 'products' %}?category=sofas" class="dropdown-item " aria-label="sofas">Sofas</a>
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item" aria-label="chairs">Chairs</a>
                <a href="{% url 'products' %}?category=tables" class="dropdown-item" aria-label="tables">Tables</a>              
            </div>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold text-grey nav-link mr-3" href="{% url 'testimonial_list' %}" aria-label="testimonials">
                Testimonials
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold text-grey nav-link mr-3" href="{% url 'contact' %}" aria-label="contact us">
                Contact Us
            </a>
    </ul>
</div>