{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% load newsletter_tags %}
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description"
            content="Lari Living - Discover our carefully curated selection of premium sofas, dining sets, and more. Transform your living space with timeless style and exceptional pieces">
            <meta name="keywords" content="Lari Living, luxury furniture, premium sofas, high-end dining sets, elegance, furniture collection, contemporary furniture, designer furniture brands, elegant interior decor, designer home, furniture store dublin">
            <meta name="author" content="Dario Covella">        
            <!-- Favicon -->
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon.ico' %}">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <!-- Font -->
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">        
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/c355300088.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>Lari Living | {% block extra_title %}{% endblock %}</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link" aria-label="home">
                        <img src="{% static 'images/logo.png'%}" alt="Lari Living Logo" class="logo-img">
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site" aria-label="search">
                            <div class="input-group-append">
                                <button class="form-control btn btn-dark border border-black rounded-0" type="submit" aria-label="search button">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="user options menu">
                                <div class="text-center">
                                    <div><span class="pr-3 text-capitalize username text-grey">{{ user.username }}</span><i class="fas fa-user fa-lg text-grey"></i></div>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item" aria-label="product management">Product Management</a>
                                        <a href="{% url 'mail_letter' %}" class="dropdown-item" aria-label="send newsletter">Newsletter</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item" aria-label="my profile">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item" aria-label="log out">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item" aria-label="register">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item" aria-label="log in">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-grey nav-link px-1" href="{% url 'view_bag' %}" aria-label="view bag">
                                <div class="text-center mr-3">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i>
                                        {% if product_count %}
                                        <span class='bag-badge'>{{ product_count }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-white">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>        
        </header>

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer class="mt-auto container-fluid">
            <div class="row py-lg-3 px-lg-3 py-3 py-md-0">       

                <div class="col-6 col-md-4 px-md-0">                    
                    <!-- Contact Us Section -->
                    <h2 class="text-uppercase mb-md-4">Follow Us</h2>                    
                    <ul class="list-unstyled list-inline social-icons">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                                class="footer-link" aria-label="Visit our Facebook page (opens in new tab)">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="footer-link" aria-label="Visit our Instagram page (opens in new tab)">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">            
                            <a href="https://github.com/Darioc18" target="_blank" rel="noopener"
                                class="footer-link" aria-label="Visit creator's repository page (opens in new tab)">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </li>
                        <li>
                        <!-- Copyright -->
                            <div class="copyright mt-1 mt-md-3">
                                <p class="copyright">©Lari Living</p>                            
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-6 d-md-none logo">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link pr-0" aria-label="home">
                        <img src="{% static 'images/logo-white.png'%}" alt="Lari Living Logo" class="logo-img img-fluid float-right">
                    </a>            
                </div>

                <div class="col-12 py-0 px-3 d-md-none">
                    <hr class="footer-divider">
                </div>   

                <div class="col-12 col-md-4 px-0 px-md-4 py-0">
                    <ul class="nav flex-column">
                        <!-- Help Section -->
                        <li class="nav-item">
                            <a class="nav-link text-uppercase pt-0" href="{% url 'products' %}" aria-label="products">Products</a>                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase pt-0" href="{% url 'testimonial_list' %}" aria-label="testimonials">
                                Testimonials
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase pt-0" href="{% url 'contact' %}" aria-label="contact us">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase pt-0" href="https://www.termsfeed.com/live/335a1965-cfb5-4344-adeb-c9a9e0094f77" target="_blank" aria-label="privacy policy">
                                Privacy Policy
                            </a>
                        </li> 
                    </ul>                
                </div>
                
                <div class="col-12 py-0 px-3 d-md-none">
                    <hr class="footer-divider">
                </div>

                <div class="col-sm-12 col-md-4">
                    <!-- Subscribe to Newsletter -->
                    <div class="footer-header">
                        <h2 class="newsletter mb-2">Receive our newsletter:</h2>
                    </div>                   
                    {% render_newsletter_form %}
                </div>
                
            </div>
        </footer>

        {% block postloadjs %}
        <script>
            $('.toast').toast('show');
        </script>
        {% endblock %}    
    </body>
</html>